html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("9dmfs0g8cyf51.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
    font-family: "Cal Sans", sans-serif;
    color: white;
  }
  
  
